.hilosCopy {
    margin-bottom: 19px;
    border-bottom: 1px solid rgba(223, 223, 223, 0.788);
    transform: .7s;
}
.buttonHome {
    width: 30px;
    margin: 10px 0;
}
#dialog_hilo {
    flex-direction: column;
    border: none;
    margin: auto;
    font-size: 22px;
    padding: 10px 10px;
    width: 480px;
    /* height: 200px; */
    text-align: center;
}
.desactivar_Hilo {
    display: flex;
    justify-content: space-evenly;
}
dialog::backdrop {
    background-color: black;
    opacity: .6;
}

.hilosGrand{
    width: 80%;
    padding-top: 0px;
    margin-top: 31px;
    overflow: hidden;
    padding-top: 0px;
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.503);
    /* background-image: linear-gradient(180deg, #edeff1 5px, rgb(255, 255, 255) 82px ); */
    box-shadow: rgb(82 82 82 / 9%) 0px 2px 1px, rgb(88 88 88 / 9%) 0px 4px 2px, rgb(97 97 97 / 9%) 0px 8px 4px, rgb(83 83 83 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;

}
.hilosModifi {
    width: 100%;
    justify-content: space-between;
    padding: 7px 25px;
    margin-bottom: 0px;
    border-top: 1px solid rgba(223, 223, 223, 0.503);
    transform: .7s;
    position: relative;
    z-index: 100;
}
.divHiloResp {
    width: 93%;
}

.searchbutton {
    display: none;
}
.buttonAggComments {
    border: none;
    color: #fff;
    background-color: #FFB74D;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 7px 8px;
    transition: .5s;
    margin: 0 auto;
    width: 100%;
}
.importanteButtonReciente {
    width: 100% !important;

}
.buttoncambiado {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 42px;
}
.buttonAggComments:hover {   
    transition: 1s;
    color: #FFB74D;
    background-color: #fff;
    border: 1px solid #FFB74D;
}
.txtComments {
    display: none;
    transition: .5s;
}
.buttonClose{
    float: right;
    border: none;
    border-radius: 4px;
    padding: 5px 4px;
    color: gray;
    opacity: .8;
}
.buttonClose:hover {
    color: white;
    background-color: red;
}
.buttonOpen:hover {
    background-color: green !important;
}


.form-v {
    
        display: block;
        border: 1px solid rgb(5, 5, 5);
        display: flex;
        justify-content: center;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.616);
        border-radius: 7px;
        z-index: 1000;
        align-items: center;
        flex-direction: column;
}

.titleDiv {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    width: 74%;
    margin: 25px auto;
    border-radius: 4px;
    padding: 10px 10px;
}
.titleTxt {
    text-align: center;
}
.publicatedForTxt {
    font-size: 10px;
    color: gray;
    opacity: .7;
}

/* comienza button style */

/* From uiverse.io by @e-coders */
.submitButton {
    appearance: none;
    margin: 10px 10px;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
   }
   
   .submitButton:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
   }
   
   .submitButton:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
   }
   
   .submitButton:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
   }
   
   .submitButton:focus {
    outline: 1px transparent;
   }
   
   .submitButton:before {
    display: none;
   }
   
   .submitButton:-webkit-details-marker {
    display: none;
   }






























a {
    color: #03658c;
    text-decoration: none;
 }
 
ul {
    list-style-type: none;
}
 


/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
    margin: 0px auto 15px;
    /* width: 768px; */
}
 
.comments-container h1 {
    font-size: 21px;
    color: #283035;
    font-weight: 400;
}
 
.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}
 
.comments-list {
    margin-top: 30px;
    position: relative;
}
 
/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}
 
.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
 
.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}
 
 
.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}
 
.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}
 
.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}
 
.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}
 
.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}
 
.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    width: 89%;
    float: right;
    position: relative;
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
 
.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}
 
.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}
 
.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: #FCFCFC;
    width: 56vw;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
 
.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
 
.comment-box .comment-head i:hover {
    color: #03658c;
}
 
.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}
 
.comment-box .comment-name a {
    color: #283035;
}
 
.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}
 
.comment-box .comment-content {
    background: #fff;
    width: 56vw;
    padding: 12px;
    display: flex;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    word-wrap: break-word;
}


.dateComents {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.dateOfComments {
    color: gray;
    opacity: 0.6;
}
 
.comment-box .comment-name.by-admin, .comment-box .comment-name.by-admin a {color: #03658c;}
.comment-box .comment-name.by-admin:after {
    content: 'Admin';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



/** =====================
 * Responsive
 ========================*/
 @media only screen and (max-width: 1200px) {
    .comments-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
 
    .comments-list .comment-box {
        margin: 17px 0;
        width: 100%;    
    }
    .comment-box:after {
        display: none;
    }
 
    .hilo
    {
        width: 74%;
    }
    .reply-list .comment-box {
        width: 320px;
    }

    .comment-box .comment-head {
        background: #FCFCFC;
        width: 64vw;
        padding: 10px 12px;
        border-bottom: 1px solid #E5E5E5;
        overflow: hidden;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }
    .comment-box .comment-content {
        background: #fff;
        width: 64vw;
        padding: 12px;
        display: flex;
        font-size: 15px;
        color: #595959;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        word-wrap: break-word;
    }
    .descripTxt {
        font-size: 12px;
        color: black;
        opacity: .8;
        /* border-top: 1px solid black; */
        margin-top: 9px;
    }
    .buttonClose {
        float: right;
        border: none;
        border-radius: 4px;
        padding: 5px 4px;
        color: gray;
        opacity: .8;
       
    }
    
     
}
