
/* barra lateral */

.list {
    background-color: #fa714b;
    width: 200px;
    height: 93vh;
    position: fixed;
    top: 61px;
    left: 0;
    display: flex;
    justify-content: flex-start;
    z-index: 500;
    padding-top: 55px;
    padding-left: 20px;
}

.imgBar {
    width: 25px;
}
.listGroup {
    list-style: none;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.listGroup img {
    margin-right: 15px;
    cursor: pointer;
    
}


@media ( max-width: 1000px ) {
    
    .list {
        display: block;
        left: -200px;
        transition: .5s;
    }
    .list-v {
        width: 100%;
        left: 0;
        transition: .5s;
    }
    .sectionInfo {
        margin: 0;
        width: 100%;
    }
    .buttonReciente {
        padding: 0 20px;
        width: 100%;
    }
    .feature-v {
        width: 67%;
    right: 77px;
    top: 83px;
 
    border: 1px solid black;
    }
    .fatherHilos {
        width: 100%;
        display: flex;
        align-items: stretch;
    }
    .titleHilo {
        font-size: 16px;
        font-weight: 600;
    }
    .comments {
        width: 25px;
    
    }
    .headerLogo {
        display: none;
    }
}

/* MODO OSCURO */
.oscuro .list{
    background-image: linear-gradient(-45deg, #292b31 0%,  #292b31 100%);
}

/* AZUL */
.azul .list{
    background-image: linear-gradient(-45deg, #008cff 0%,  #008cff 100%);
}

/* VERDE */
.verde .list{
    background-image: linear-gradient(-45deg, #00ff73 0%,  #00ff73 100%);
}

/* NARANJA */
.naranja .list{
    background-image: linear-gradient(-45deg, #ff5e00 0%,  #ff5e00 100%);
}

/* MORADO */
.morado .list{
    background-image: linear-gradient(-45deg, #e100ff 0%,  #e100ff 100%);
}

/* TURQUESA */
.turquesa .list{
    background-image: linear-gradient(-45deg, #00d8b4 0%,  #00d8b4 100%);
}

/* AMARILLO */
.amarillo .list{
    background-image: linear-gradient(-45deg, #d0ff00 0%,  #d0ff00 100%);
}

/* ROJO */
.rojo .list{
    background-image: linear-gradient(-45deg, #ff083e 0%,  #ff083e 100%);
}

/* ROSADO */
.rosado .list{
    background-image: linear-gradient(-45deg, #ff5185 0%,  #ff5185 100%);
}


